.wrapper{
    background: whitesmoke;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 1px 1px 9px 1px black;    
}

.title{
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

.input_container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input_container input{
    border: 1px solid black;  
    width: 21.5rem;
    padding: 5px; 
}

.submit_btn{
    margin-top: 1rem;
    background: black;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-size: 1.1rem;
}

.submit_btn:hover{
    cursor: pointer;
}
.submit_btn:active{
    scale: 1.01;
}

.message{
    margin-top: 1rem;
}

.login_box{
    position: sticky;
    top: 0;
}

.error{
    background: #ff00001a;
    padding: 10px;
    border-radius: 4px;
    color: #ff0000e8;
    border: 1px solid red;
    text-align: center;
    margin-top: 1rem;
}